<!doctype html>
{% load crispy_forms_field %}
{% load staticfiles %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">

        <div class="fadeIn first">
          <i class="fas fa-user"></i>
        </div>

        <form method="post">
          {% csrf_token %}
          <input type="text" id="{{ form.username.auto_id }}" class="fadeIn second" name="{{ form.username.name }}" placeholder="login">
          <input type="password" id="{{ form.password.auto_id }}" class="fadeIn third" name="{{ form.password.name }}" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <div id="formFooter">
        </div>

      </div>
    </div>
  </body>
</html>